

.menu {
  display: flex;
  list-style-type: none;
  position: sticky;
  margin-top: 0px;
  background-color: #61616C;
}


  .liste1{
    display:inline;
  padding:20px ;
  background-color:#61616C;
  color:#ffffff;
  font-family:'Roboto', sans-serif;
 }

 .liste1:hover{
	background-color : blue;
	border-radius:5px;
 }

  ul a{

 text-decoration : none;
 }

ul a:hover{
	
}

ul a img{

}

a:link 
{ 
text-decoration:none;
color:#FFFFFF; 
} 

.droite{
  float: right;
}

.image_restdb{
  width: 70px;
  height: auto;
}

.partie1{
  background-color: #13AFCF ;
  height: 150px
  width:300px;
  margin-top:-20px;
  padding-bottom: 30px;
  
}

.geek{
  position: absolute;
  left: 50px;
  top:50px;
}

.container{
  margin:0 25% 0;
}

.slogan{
  color:#FFFFFF;
  margin:0 5% 0;
  padding-top: 20px;
  padding-bottom:20px;
  font-family:'Montserrat', sans-serif ;  
}

.button{
  background-color:#FFA233;
  border-radius: 20px;
  font-family:'Montserrat', sans-serif ;  
  font-size: 30px;
  padding: 10px;
  margin:0 20% 0;
  padding-bottom: 20px;
}

.partie2{
  font-family:'Montserrat', sans-serif ; 
  margin: 0 25% 0; 

}

.partie3{
  height: 300px ;
  background-color: #13AFCF;
  font-family: 'Montserrat', sans-serif ;
}

.container2{
  width: 90%; 
  margin: 0 5% 0 5%;
  padding-left: 60px;
}

.partie_g{
  height: auto;
  float: left;
  width: 45%;

}


.partie_d{
  height: auto;
  float: left;
  width: 45%;

}

.partie4{
  font-family:'Montserrat', sans-serif ; 
  margin: 0 15% 0; 
  height: auto;
}

.partie5{
	background-color: #BDBDBD;
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;

}

.liste_logo{
	display: flex;
	margin: 0 15% 0; 
	background-color: none;
	list-style-type: none;

}

.logo1{
	width: 70%;
	height: auto;
	

}

.logo2{
	width: 70%;
	height: auto;
	padding-right: 80px;
}

.logo3{
	width: 70%;
	height: auto;
}

.logo4{
	width: 70%;
	height: auto;
	
}

.logo5{
	width: 70%;
	height: auto;
	
}

.logo6{
	width: 70%;
	height: auto;
		
}

.logo7{
	width: 20%;
	height: auto;
	margin: 0 40% 0; 
}

.partie6{
	padding-top: 50px;	
	padding-right: 80px;
	display: grid;
  	grid-template-columns: repeat(3, 300px);
  	grid-template-rows: repeat(3, 70px);
  	justify-content: center;
}

.button1{
  background-color:#045FB4;
  border-radius: 20px;
  font-family:'Montserrat', sans-serif ;  
  font-size: 30px;
  padding: 10px;
  margin:0 20% 0;
  padding-bottom: 20px;
  width: 300px;
}

.button2{
  background-color:#FFA233;
  border-radius: 20px;
  font-family:'Montserrat', sans-serif ;  
  font-size: 30px;
  padding: 10px;
  margin:0 20% 0;
  padding-bottom: 20px;
  width: 300px;
}

.liste1{
    display:inline;
  padding:20px ;
  background-color:#61616C;
  color:#ffffff;
  font-family:'Roboto', sans-serif;
 }