.menu {
  display: flex;
  align-items: : baseline;
  list-style-type: none;
  position: static;
  margin-top: 0px;
  background-color:#DCDCDC;
}


  .liste1{
  display:inline;
  align-items: : baseline;
  padding:20px ;
  background-color:#DCDCDC;
  color:#000000;
  font-family:'Roboto', sans-serif;
 }

 .image_collab{
 	width: 55%;
 	height: auto;
 }

 ul a{

 text-decoration : none;
 color:#000000;

 }

 ul a:hover{
 	column-rule: #BDBDBD;
 }